<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<form action="/board/save" method="post" enctype="multipart/form-data">
    제목 : <input type="text" name="boardTitle"><br>
    작성자 : <input type="text" name="boardWriter" th:value="${session.member.memberMail}" readonly><br>
    내용 : <input type="text" name="boardContents"><br>
    파일 : <input type="file" name="boardFile"><br>
    <input type="submit" value="가입">
</form>
</body>
</html>