<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
</head>
<body>
<form action="/board/update" method="post" name="updateForm" enctype="multipart/form-data">
    <input type="hidden" name="id" th:value="${board.id}">
    <input type="hidden" name="boardHits" th:value="${board.boardHits}">
    제목 : <input type="text" name="boardTitle" th:value="${board.boardTitle}"><br>
    작성자 : <input type="text" name="boardWriter" th:value="${board.boardWriter}" readonly><br>
    내용 : <input type="text" name="boardContents" th:value="${board.boardContents}"><br>
    파일 : <input type="file" name="boardFile" th:value="${board.boardFile}"><br>
    <input type="button" value="가입" onclick="update()">
</form>
</body>
<script th:inline="javascript">
    const update = () => {
        updateForm.submit();
    }
</script>
</html>